Overlay
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(188, 188, 188, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-overlay.active {
  display: flex;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

/* Popup box */
.popup {
  width: 400px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  overflow: hidden;
}

/* Navbar */
.popup-navbar {
  background-color: #b4b7ed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  
}


/* Icons */
.cat-icon {
  width: 30px;
  height: 30px;
  fill: rgb(0, 0, 0);
}

.close-btn {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: rgb(0, 0, 0);
  transition: transform 0.2s ease;
}
.close-btn:hover {
  fill: rgb(255, 255, 255);
  transform: rotate(90deg);
}

/* Content */
.popup-content {
  padding: 20px;
  color: #000000;
  text-align: center;
  font-style: italic;
  font-family: cursive;
}

.popup-content h3 {
  margin-top: 0;
  font-size: 26px;
}

.popup-content p {
  font-size: 20px;
  line-height: 1.5;
}
