body {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.popup {
  width: 400px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  overflow: hidden;
}

.popup-navbar {
  background-color: #6698e2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
}

.cat-icon {
  width: 30px;
  height: 30px;
  fill: rgb(0, 0, 0);
}

.close-btn {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: rgb(0, 0, 0);
}
.close-btn:hover {
  fill: red;
  transform: rotate(90deg);

}
.popup-content {
  padding: 20px;
  color: #000000;
  text-align: center;
  font-style: italic;
  font-family: cursive;
}

.popup-content h3 {
  margin-top: 0;
  font-size: 26px;
}

.popup-content p {
  font-size: 20px;
  line-height: 1.5;
}
